Repository 42-world/42world-Actions-Test, pull requests merged in 2023-02, with the labels that each got.

#9 cacnel test
  .github/workflows/alpha-ci.yml
  README.md
Labels: repo

#10 Create test3.js
  src/test2.js
  src/test3.js
Labels: documentation, test

#6 Create test.js
  src/test.js
Labels: bug, documentation, source, frontend

#4 Create test.spec.js
  src/test.spec.js
Labels: source, frontend
